<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<div class="container">
  <div class="todo-section">
    <app-todos></app-todos>
  </div>
  <div class="login-section">
    <div *ngIf="authService.isLoggedIn$ | async; else loggedOut" class="welcome-container">
      <h1>Bienvenue</h1>
      <button (click)="authService.logout()">Deconnexion</button>
    </div>
    <ng-template #loggedOut>
      <app-login></app-login>
    </ng-template>
  </div>

</div>